In [3]:
import pandas as pd
import numpy as np
import random

# MAIN SERVER

In [4]:
server = pd.read_csv('server.csv', index_col='pnr')
server

         name  baggage  bg_code  checkin  seat  boarding
pnr
ABCD  Ruchir       NaN      NaN      NaN   NaN       NaN

# KIOSK

In [5]:
play=True
while play:
    pnr=input('Enter your PNR\n')
    if pnr not in server.index.values:
        print('\n')
        print("Please enter a valid PNR")
    else:
        print('\n')
        print("Please select a seat of your choice\n")
        play=False
run=True
while run:
    seat=str(input('Enter the seat you want:\n'))
    if seat in server.seat.values:
        print('Seat not Available, Please select another seat')
    else:
        server.loc[pnr,'seat']=seat
        run=False

Enter your PNR
ss


Please enter a valid PNR
Enter your PNR
ABCD


Please select a seat of your choice

Enter the seat you want:
24E

C:\Users\kondy\anaconda3\lib\site-packages\ipykernel_launcher.py:14: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison

In [6]:
server

         name  baggage  bg_code  checkin seat  boarding
pnr
ABCD  Ruchir       NaN      NaN      NaN  24E       NaN

# CHECK IN

<b>BAGGAGE</b>

In [7]:
bag = input('Do you have a Chech-in Baggage\n')
if bag == 'no':
    server.loc[pnr,'baggage'] = bag
    server.loc[pnr,'checkin'] = 'Done'
    print('Kindly proceed for security check')
elif bag == 'yes':
    bag_no = random.randint(1,20000)
    start=True
    while start:
        if bag_no not in server.bg_code.values:
            start=False
        elif bag_no in server.bg_code.values:
            bag_no = random.randint(1,20000)
    server.loc[pnr,'baggage'] = bag
    server.loc[pnr,'bg_code'] = bag_no
    server.loc[pnr,'checkin'] = 'Done'
print('\nKindly proceed for security check')

Do you have a Chech-in Baggage
yes

Kindly proceed for security check

<b><i>.....meanwhile in the server.....</i></b>

In [8]:
server

         name baggage  bg_code checkin seat  boarding
pnr
ABCD  Ruchir      yes    629.0    Done  24E       NaN

# <b>FINAL BOARDING</b>

In [9]:
go=True
while go:
    pnr_check = input('Enter you PNR for final boarding :\n')
    if pnr_check not in server.index.values:
        print('\n')
        print("Please enter a valid PNR")
    else:
        server.loc[pnr,'boarding']='Done'
        print('\n')
        print("WOOHOOO! proceed for BOARDING")
        go=False

Enter you PNR for final boarding :
ABCD


WOOHOOO! proceed for BOARDING